* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html, body {
    height: 100%;
  }

  .yin, .yang {
    height: 50%;
    padding: 20px;
  }
  
  .dot {
    height: 50%;
    width: 15%;
  }
  
  .yin, 
  .yang .dot {
    background-color: white;
  }
  
  .yang, 
  .yin .dot {
    background-color: black;
  }
  
  .yang .dot {
    margin-left: auto;
    margin-top: 13%;
  }
  